@media only screen and (min-width: 320px){
    main{
        padding-top: 100px;
        padding-bottom: 50px;
        background-image: url(../img/Imagenes_Pagina_bienvenida_vertical.jpg);
        div{
            p{
                text-align: center;
            }
        }
    }

    #section-designs{
        padding-top: 20px;
    }

    #carouselExampleCaptions{
        padding-top: 20px;
        padding-bottom: 20px;
    }

    #section-orderDesign{
        h3{
            text-align: center;
            text-decoration: underline;
            padding-bottom: 10px;
        }
    }

    footer{
        text-align: center;
        display: flex;
        flex-direction: column;
        padding-bottom: 20px;
    }

    #box-iconos{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .order-logo-subt{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media only screen and (min-width: 768px){
    main{
        background-image: url(../img/Imagenes_Pagina_bienvenida.jpg);
        width: 720px;
        height: 1080px;
    }
}