html{
    h2{
        text-align: center;
    }
    h1, h2, h3, h4, h5, h6, button, input{
        font-family: 'Montserrat', sans-serif;
    }

    p, a{
        font-family: 'Lato', sans-serif;
    }
}

main{
    color: $pers-white;
}

#section-designs, #section-orderDesign{
    background-color: $pers-red;
    color: $pers-white;
}

form{
    display: flex;
    flex-direction: column;
}

#section-request-form, #freq-questions{
    padding-top: 20px;
}

.btn-primary{
    background-color: $pers-red;
    border-color: $pers-white;
}

.btn-primary:hover{
    background-color: $pers-red;
    border-color: $pers-white;
}

.darkModeEnabled{
    background-color: $pers-black;
    a, p, h1, h2, h3, h4, h5, h6, button{
        color: $pers-white;
    }
    button{
        color: $pers-black;
    }
    label{
        color: white;
    }
}