@media only screen and (min-width: 320px) {
  main {
    padding-top: 100px;
    padding-bottom: 50px;
    background-image: url(../img/Imagenes_Pagina_bienvenida_vertical.jpg); }
    main div p {
      text-align: center; }
  #section-designs {
    padding-top: 20px; }
  #carouselExampleCaptions {
    padding-top: 20px;
    padding-bottom: 20px; }
  #section-orderDesign h3 {
    text-align: center;
    text-decoration: underline;
    padding-bottom: 10px; }
  footer {
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px; }
  #box-iconos {
    display: flex;
    flex-direction: row;
    justify-content: space-around; }
  .order-logo-subt {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .padding-subaru {
    padding-bottom: 30px; } }

@media only screen and (min-width: 768px) {
  main {
    background-image: url(../img/Imagenes_Pagina_bienvenida.jpg);
    width: 720px;
    height: 1080px; }
  a img {
    width: 190px; }
  #main-welcome {
    font-size: 1rem;
    display: flex;
    flex-direction: column-reverse; }
    #main-welcome h2 {
      text-align: start; }
    #main-welcome p {
      text-align: start;
      font-size: 1.5rem; }
  .welcome-container {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    padding-bottom: 120px; }
  .center-logo {
    display: flex;
    flex-direction: row;
    justify-content: center; }
  #section-request-form {
    padding-right: 50px;
    padding-left: 50px; }
  #freq-questions {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .igLogo, .tiktokLogo, .fbLogo, .redbbLogo {
    height: 10px;
    width: 10px; } }

html h2 {
  text-align: center; }

html h1, html h2, html h3, html h4, html h5, html h6, html button, html input {
  font-family: 'Montserrat', sans-serif; }

html p, html a {
  font-family: 'Lato', sans-serif; }

main {
  color: #f6f6f6; }

#section-designs, #section-orderDesign {
  background-color: #be1622;
  color: #f6f6f6; }

form {
  display: flex;
  flex-direction: column; }

#section-request-form, #freq-questions {
  padding-top: 20px; }

.btn-primary {
  background-color: #be1622;
  border-color: #f6f6f6; }

.btn-primary:hover {
  background-color: #be1622;
  border-color: #f6f6f6; }

.darkModeEnabled {
  background-color: #1b1b1d; }
  .darkModeEnabled a, .darkModeEnabled p, .darkModeEnabled h1, .darkModeEnabled h2, .darkModeEnabled h3, .darkModeEnabled h4, .darkModeEnabled h5, .darkModeEnabled h6, .darkModeEnabled button {
    color: #f6f6f6; }
  .darkModeEnabled button {
    color: #1b1b1d; }
  .darkModeEnabled label {
    color: white; }
